*/.qsys_edit
*/Computer_System
*/db
*/incremental_db
*/*.qsys
*/*.sopcinfo
*/DE10_Lite_Computer.*
*/Computer_System.*
*/software/projet/.settings
*/software/projet/obj
*/software/projet/.cproject
*/software/projet/.project
*/software/projet/create-this-app
*/software/projet/projet.*

*/software/projet_bsp/.settings
*/software/projet_bsp/obj
*/software/projet_bsp/.cproject
*/software/projet_bsp/.project
*/software/projet_bsp/create-this-app
*/software/projet_bsp/projet.*
*/software/projet_bsp/memory.gdb
*/software/projet_bsp/settings.projet_bsp
*/software/projet_bsp/summary.html
*/software/projet_bsp/linker.x
